# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [6]:
salaries = pd.read_csv("../Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [ ]:
# aggregate and filter, hypothesis testing
# csv in notes 
# 1samp, fitted it with the mean, squirrels ,2"
# ttest_independent , two arrays(columns) , check if stat difference
# proportions_ztest , send explanaition. If you have sample, not really mean
# or st dev, only proportions , how to calculate confi interval
# p +-(124 400) 
# pandas crosstab in challenge 3

In [57]:
salaries.tail(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
33173,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33176,"ZYGMUNT, ARTUR",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
salaries['Salary or Hourly']

count_sal= 0
count_hour = 0
for employ in range(len(salaries['Salary or Hourly'])):
    if salaries['Salary or Hourly'][employ] == 'Salary':
        count_sal += 1
    elif salaries['Salary or Hourly'][employ] == 'Hourly':
        count_hour += 1
    
print(len(salaries['Salary or Hourly']))        
count_sal + count_hour

33183

33183

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [26]:
(set(salaries['Department']))
len(set(salaries['Department']))

departments = set(salaries['Department'])
departments

{'ADMIN HEARNG',
 'ANIMAL CONTRL',
 'AVIATION',
 'BOARD OF ELECTION',
 'BOARD OF ETHICS',
 'BUDGET & MGMT',
 'BUILDINGS',
 'BUSINESS AFFAIRS',
 'CITY CLERK',
 'CITY COUNCIL',
 'COMMUNITY DEVELOPMENT',
 'COPA',
 'CULTURAL AFFAIRS',
 'DISABILITIES',
 'DoIT',
 'FAMILY & SUPPORT',
 'FINANCE',
 'FIRE',
 'GENERAL SERVICES',
 'HEALTH',
 'HUMAN RELATIONS',
 'HUMAN RESOURCES',
 'INSPECTOR GEN',
 'LAW',
 'LICENSE APPL COMM',
 "MAYOR'S OFFICE",
 'OEMC',
 'POLICE',
 'POLICE BOARD',
 'PROCUREMENT',
 'PUBLIC LIBRARY',
 'STREETS & SAN',
 'TRANSPORTN',
 'TREASURER',
 'WATER MGMNT'}

In [28]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [29]:
# H0: wage = 30$/hr
from scipy.stats import ttest_1samp

In [86]:
hour_work= salaries.loc[salaries['Salary or Hourly'] == 'Hourly']

In [77]:
sample= hour_work['Hourly Rate']
np.mean(sample)

32.78855771628128

In [76]:
ttest_1samp( a = sample, popmean= 30)

# very low p-value , unlikely that the hourly wage is 30/hr, therefore we reject the H0 hypothesis
# pvalue < 5%

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# police,  mean= 86000/year
# H0: mean= 86.000
# H1: mean > 86.000

In [82]:
salar_work= salaries.loc[salaries['Salary or Hourly'] == 'Salary']
salar_work_pol = salar_work.loc[salar_work['Department']== 'POLICE']
salar_work_pol

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [83]:
sample = salar_work_pol['Annual Salary']
ttest_1samp( a = sample, popmean= 86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

In [85]:
# one-sided
pvalue=0.0020603403550965137/2
pvalue 
# pvalue < 2.5%

0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [96]:
# Contigency table is a type of table in a matrix format that disc=olays the frequency
# distribution

dep = pd.crosstab(hour_work['Department'], hour_work['Salary or Hourly'])
dep.sort_values(by=['Hourly'],ascending=False)

Salary or Hourly       Hourly
Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
FIRE                        2
PROCUREMENT                 2
BUDGET & MGMT               2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [99]:
# STREETS & SAN
hour_work_street = hour_work.loc[hour_work['Department']== 'STREETS & SAN']
hour_work_street['Hourly Rate']

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [100]:
ttest_1samp( a = hour_work_street['Hourly Rate'], popmean= 35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [101]:
# Again the p-value extremely low!?? , not yet divided by 2 (one-sided)
np.mean(hour_work_street['Hourly Rate'])

33.728378088076845

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [102]:
# we will construct a 95% confidence interval for the mean hourly wage of all hourly workers.
# t.interval , t-table

import scipy.stats as stats

In [107]:
data = hour_work['Hourly Rate']

In [108]:
mean = np.mean(hour_work['Hourly Rate'])

In [110]:
stats.t.interval(0.95, len(data)-1  , loc = mean , scale = stats.sem(data))

(32.52345834488529, 33.05365708767727)

In [111]:
# with 95 % confidence we state that the mean will be between the above

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [116]:

data2 = salar_work_pol['Annual Salary']

In [118]:
mean2 = np.mean(data2)

In [119]:
stats.t.interval(0.95, len(data2)-1  , loc = mean2 , scale = stats.sem(data2))

(86177.05631531784, 86795.77269094894)

In [120]:
# Between the above with 95%

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# proportions_ztest , send explanaition. If you have sample, not really mean
# or st dev, only proportions , how to calculate confi interval
# p +-(124 400)

In [128]:
import statsmodels
from statsmodels.stats.proportion import proportions_ztest

In [129]:
#H0: mean = 25%
#H1: mean != 25%

In [133]:
sal_hour= pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

In [137]:
sal_hour['Hourly'].sum()

8022

In [139]:
sal_hour.sum()
8022 +  25161

33183

In [ ]:
statistics = -3.50999
p_value = 0.00044811

In [147]:
count = 8022
nobs = 33183
(test_stat, p_value) = proportions_ztest(count, nobs, 0.25)

In [148]:
print(f"The z statistic is {test_stat}, and the p-value is {p_value}")

The z statistic is -3.5099964213703005, and the p-value is 0.0004481127249057967